# Example email settings
SAMPLE_SERVER_ADDRESS="XXX.XXX.com"
SAMPLE_IMAP_PORT=993

# Example SFTP settings
SAMPLE_SERVER_HOSTNAME="xxxxxxxxx.org"

# Example local file settings
LOCAL_FILE_ABSOLUTE_PATH="XXXXXXXXXXXXXXXX"
